body {
    background-color: black;
    color: dimgrey;
    text-align: center;
    font-size: 24px;
    font-family: 'Share-TechMono'
}
#vid{
    margin-top: 5%;
}
a {
    color: slategray;
    text-decoration: none;
    font-size: 30px;
    font-family: TheGoodMonolith
}
pre {
    color: mediumpurple;
    font-size: 14px;
}
span {
    font-family: Chomsky;
    font-size: 40px;
}
#ice {
    color: lightcyan;
}
#fire {
    color: red;
}
#jp {
    color: lightpink;
}