body {
    background-color: black;
    color: dimgrey;
    text-align: center;
    font-size: 24px;
    font-family: 'Share-TechMono'
}
a {
    color: slategray;
    text-decoration: none;
    font-size: 30px;
    font-family: TheGoodMonolith
}
pre {
    color: mediumpurple;
    font-size: 14px;
}
span {
    font-family: Chomsky;
    font-size: 40px;
}
#ice {
    background-color: black;
    display: inline;
    margin-right: 10%;
    color: lightcyan;
}
#fire {
    background-color: black;
    display: inline;
    color: red;
}
#jp {
    background-color: black;
    margin-left: 10%;
    display: inline;
    color: lightpink;
}
#ice_list {
    background-color: black;
    display: inline;
    margin-right: 10%;
    color: lightcyan;
}

#fire_list {
    background-color: black;
    display: inline;
    color: red;
}

#jp_list {
    background-color: black;
    margin-left: 10%;
    display: inline;
    color: lightpink;
}
    select {
    padding: 2px;
    border-radius: 5px;
    font-family: 'Share-TechMono'
}