body {
    background-color: black;
    color: dimgrey;
    text-align: center;
    font-size: 24px;
    font-family: 'Share-TechMono'
}
a {
    color: slategray;
    text-decoration: none;
    font-size: 30px;
    font-family: TheGoodMonolith
}
iframe {
    margin-top: 50px;
}
pre {
    color: mediumpurple;
    font-size: 14px;
}
span {
    font-family: Chomsky;
    font-size: 50px;
}
#ice {
    background-color: black;
    display: inline;
    margin-right: 10%;
    color: lightcyan;
}
#fire {
    background-color: black;
    display: inline;
    color: orangered;
}
#jp {
    background-color: black;
    display: inline;
    /*margin-left: 10%;*/
    color: lightpink;
}
#ice_list {
    background-color: black;
    display: inline;
    margin-right: 10%;
    color: lightcyan;
    box-shadow: 1px 1px 1px lightcyan;
}

#fire_list {
    background-color: black;
    display: inline;
    color: orangered;
    box-shadow: 1px 1px 1px orangered;
}

#jp_list {
    background-color: black;
    display: inline;
    /*margin-left: 10%;*/
    color: lightpink;
    box-shadow: 1px 1px 1px lightpink;
}
select {
    font-size: 30px;
    padding: 2px;
    border-radius: 10px;
    border-color: dimgrey;
    font-family: 'Share-TechMono';
}