@font-face {
    font-family: Chomsky;
    src: url(https://fonts.cdnfonts.com/css/chomsky);
}

body {
    background-color: black;
    text-align: center;
    font-size: 30px;
}
a {
    color: grey;
    text-decoration: none;
    font-size: 30px;
}

pre {
    font-size: 14px;
    color: rebeccapurple;
}
span {
    font-family: Chomsky;
    font-size: 40px;
}
#ice{
    color: lightblue;
}
#fire {
    color: orangered;
}
#earth {
    color: forestgreen
}
#space {
    color: navy
}
#jp {
    color: lightpink;
}